{{!< default}}

{{#post}}

<div class="post-page">
  <div class="mjs-container">
      <div class="post-section">
        <div class="post-meta">
          <h1 class="post-title">{{ title }}</h1>
        </div>
        <div class="post-content">
          {{ content }}
        </div>
      </div>

      {{> sidebar }}
  </div>
</div>

{{/post}}
